<div class="stream__row" data-track-zone="top-stories-stream">
	<div data-o-grid-colspan="S12 M12 L12 XL12">
		<h1 class="stream-list__title"><span class="stream-list__title-name js-context">{{title}}</span></h1>
	</div>
	<div data-o-grid-colspan="12">
	{{#each items}}
		<div class="stream stream--tiled o-grid-row">
			{{#each this}}
			<div class="stream__column" data-column="{{@index}}">
				{{#each this}}
				{{! TODO:MA Fix me.  Should be "parent index-current index" }}
				<div class="stream__article-wrapper" data-track-pos="{{@index}}-{{@index}}">
					{{^isFeature}}
						{{>next-article-card-component/templates/news-mustache}}
					{{/isFeature}}
					{{#isFeature}}
						{{! TODO:MA Change back to '>next-article-card-component/templates/feature'}}
						{{>next-article-card-component/templates/news-mustache}}
					{{/isFeature}}
				</div>
				{{/each}}
			</div>
			{{/each}}
		</div>
	{{else}}
		<p>No articles found.</p>
	{{/each}}
	</div>
</div>
