<div class="stream__row" data-track-zone="top-stories-stream">
	<div data-o-grid-colspan="S12 M12 L12 XL12">
		<h1 class="stream-list__title"><span class="stream-list__title-name js-context">{{title}}</span></h1>
	</div>
	<div data-o-grid-colspan="12">
	{{#each items}}
		<div class="stream stream--tiled o-grid-row">
			{{#each this}}
			<div class="stream__column" data-column="{{@index}}">
				{{#each this}}
				<div class="stream__article-wrapper" data-track-pos="{{@../index}}-{{@index}}">
					{{>next-article-card-component/templates/news}}
				</div>
				{{/each}}
			</div>
			{{/each}}
		</div>
	{{else}}
		<p>No articles found.</p>
	{{/each}}
	</div>
</div>
