@mixin nextCentreVertically ($container, $item) {
	#{$container} {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	#{$container} #{$item} {
		margin-top: auto;
		margin-bottom: auto;
		align-content: center;
	}
}

ul, li {
	margin: 0;
	padding: 0;
}

.tile {
	background: #eeeeee;
	font-family: BentonSans, Arial, sans-serif;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.tile__content {
	display: block;
	text-decoration: none;
	color: #000000;
}

.tile--small {
	height: 250px;
}

@media screen and (max-width: 600px) {
	.tile {
		margin-bottom: 10px;
	}

	.tile--small {
		height: 210px;
	}
}

@media screen and (min-width: 1001px) {
	.tile--large {
		height: 520px;
	}
}



.tile__title {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	line-height: 1.2;
	overflow: hidden;
	margin: 10px 10px 0;

	.tile--large & {
		font-size: 32px;
		line-height: 1.2;
	}

	a:hover & {
		text-decoration: underline;
	}
}

@include nextCentreVertically('.tile--no-image .tile__content', '.tile__title');

.tile--no-image {
	min-height: 150px;
}

.tile--no-image .tile__content {
	height: 100%;
}

.tile--no-image .tile__title {
	font-size: 20px;
}

.tile__image {
	max-width: 100%;
}

.tile__label {
	position: absolute;
	top: 0;
	max-width: 100%;
	padding: 0 0 5px;

	&:after {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -5px;
		content: '';
		width: 5px;
	}


	a {
		background: rgba(0, 0, 0, 0.7);
		display: inline-block;
		color: #ffffff;
		padding: 6px;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.tile__date {
	display: block;
	padding: 10px;
	font-size: 14px;
	color: #777777;
	text-align: right;
	width: 100%;

	.tile--large & {
		@media screen and (max-width: 1400px) and (min-width: 1001px) {
			position: absolute;
			bottom: 0;
		}
	}

	.tile--small & {
		position: absolute;
		bottom: 0;
	}
}

.tile__date::before {
	background: url(/engels/assets/img/time.svg) no-repeat;
	content: " ";
	display: inline-block;
	background-size: 12px;
	height: 11px;
	width: 15px;
	color: #777777;
}

.recommended {
	font-family: BentonSans;

	ul, li {
		list-style: none;
		margin: 0;
	}
}
