{% if (isInList) %}
<li data-o-grid-colspan="{% if isLarge %}12 M12 L6 XL6{% else %}6 M3 L3 XL3{% endif %}">
{% endif %}
    <div class="tile{% if isLarge %} tile--large{% else %} tile--small{% endif %}{% if (!article.largestImage) %} tile--no-image{% endif %}" >
        <div class="tile__label">
            <a href="/search?q={{ article.primarySection.name }}">{{ article.primarySection.name }}</a>
        </div>
        <a class="tile__content" href="/{{ article.id }}">
            {% if (article.largestImage) %}
            <img class="tile__image" src="{{ article.largestImage.url|resize(600, 338) }}" />
            {% endif %}
            <div class="tile__title">{{ article.headline || article.raw.item.title.title }}</div>
            <time data-o-component="o-date" class="o-date tile__date" datetime="{{ article.lastPublishDateTime || article.raw.item.lifecycle.lastPublishDateTime }}">{{ article.lastUpdated|date('M j, Y') }}</time>
        </a>
    </div>
{% if (isInList) %}
</li>
{% endif %}