
<ul class="stream">
    {% for article in stream.items %}
        <li data-track-pos="{{loop.index}}">
        
        {% if article.item.recommendation %}
            <p class="recommended__by">Recommended by:
                {% if article.item.recommendation.recommendedBy.id %}
                    <a href="/users/{{ article.item.recommendation.recommendedBy.id }}/recommended">
                        {{ article.item.recommendation.recommendedBy.name }}
                    </a>
                {% else %}
                    {{ article.item.recommendation.recommendedBy.name }}        
                {% endif %}
                    on {{ article.item.recommendation.on|date('F jS, Y') }}
            </p>
        {% endif %}

        {% if article.type === 'news' %}
            {% include "../bower/next-article-card-component/templates/news.html" with { item: article.item, isLead: article.isLead, showMedia: article.showMedia } %}
        {% elseif article.type === 'feature' %}
            {% include "../bower/next-article-card-component/templates/feature.html" with { item: article.item, isLead: article.isLead, showMedia: article.showMedia } %}
        {% endif %}

        </li>
    {% endfor %}
</ul>