/* line 1, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
* {
  box-sizing: border-box; }

/* line 5, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
body {
  margin: 0;
  padding: 0; }

/* line 1, /Users/mandrews/sandboxes/next-engels/src/components/search/search */
.search_container {
  margin-top: 0;
  background-color: black; }

/* line 6, /Users/mandrews/sandboxes/next-engels/src/components/search/search */
.search {
  font-family: Metric, Arial, sans-serif;
  position: relative;
  display: block;
  width: 100%;
  padding: 0 1em; }
  /* line 16, /Users/mandrews/sandboxes/next-engels/src/components/search/search */
  .search input[type="search"] {
    font-family: Metric, Arial, sans-serif;
    display: block;
    width: 100%;
    margin: 0;
    font-size: 1.5em;
    padding: 0.2em 1em 0 1em;
    border: 1px solid #666;
    color: #333;
    background-color: #fefefe;
    -webkit-appearance: none;
    background: #fefefe url(http://image.webservices.ft.com/v1/images/raw/fticon:search?source=docs&tint=fffff) 5px center no-repeat;
    background-size: 20px; }
    /* line 30, /Users/mandrews/sandboxes/next-engels/src/components/search/search */
    .search input[type="search"]:focus {
      outline: none; }
  /* line 35, /Users/mandrews/sandboxes/next-engels/src/components/search/search */
  .search ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    z-index: 1; }
    /* line 42, /Users/mandrews/sandboxes/next-engels/src/components/search/search */
    .search ul li {
      display: block;
      margin: 0;
      padding: 0; }
    /* line 48, /Users/mandrews/sandboxes/next-engels/src/components/search/search */
    .search ul a {
      font-size: 1.2em;
      color: #FEFEFE;
      background-color: rgba(51, 51, 51, 0.9);
      display: block;
      margin: 0;
      padding: 0.2em 1em 0 1em;
      text-decoration: none;
      transition: all 100ms linear; }
    /* line 59, /Users/mandrews/sandboxes/next-engels/src/components/search/search */
    .search ul a:hover, .search ul a:focus {
      background-color: rgba(254, 254, 254, 0.9);
      color: #333;
      outline: none; }

/* line 2, /Users/mandrews/sandboxes/next-engels/src/components/header/style */
body {
  margin: 0;
  padding: 0; }

/* line 7, /Users/mandrews/sandboxes/next-engels/src/components/header/style */
.logo {
  max-width: 200px; }

/* line 11, /Users/mandrews/sandboxes/next-engels/src/components/header/style */
.ft-header {
  background-color: black;
  text-align: center;
  padding: 10px; }

/* line 17, /Users/mandrews/sandboxes/next-engels/src/components/header/style */
.ft-header:hover {
  color: #e9a0dd;
  cursor: pointer; }

/* line 22, /Users/mandrews/sandboxes/next-engels/src/components/header/style */
.icon__trigram {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 0 10px;
  color: white;
  font-size: 20px;
  line-height: 40px;
  display: none; }

/* line 34, /Users/mandrews/sandboxes/next-engels/src/components/header/style */
.icon__trigram:hover {
  color: #e9a0dd;
  cursor: pointer; }

/* line 39, /Users/mandrews/sandboxes/next-engels/src/components/header/style */
.trigram__label {
  font-family: arial;
  font-size: 12px;
  vertical-align: top; }

@media (min-width: 600px) {
  /* line 47, /Users/mandrews/sandboxes/next-engels/src/components/header/style */
  .ft-header {
    xposition: fixed;
    z-index: 1;
    width: 100%; } }

@media (max-width: 600px) {
  /* line 57, /Users/mandrews/sandboxes/next-engels/src/components/header/style */
  .icon__trigram {
    display: block; } }

/* line 62, /Users/mandrews/sandboxes/next-engels/src/components/header/style */
.search__container {
  margin-top: 7px;
  margin-bottom: 7px; }

/* line 40, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
ul, li {
  margin: 0;
  padding: 0; }

/* line 44, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
.tile {
  background: #EEEEEE;
  font-family: Metric, Arial, sans-serif;
  display: block;
  text-decoration: none;
  color: #000000;
  margin-bottom: 20px;
  position: relative; }

/* line 54, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
.tile--small {
  height: 250px; }

@media screen and (min-width: 1001px) {
  /* line 60, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
  .tile--large {
    height: 520px; } }

/* line 65, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
.tile__title {
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.2;
  overflow: hidden;
  margin: 10px 10px 0 10px; }
  /* line 73, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
  .tile--large .tile__title {
    font-size: 32px;
    line-height: 1;
    height: 90px; }
  /* line 79, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
  a:hover .tile__title {
    text-decoration: underline; }

/* line 2, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
.tile--no-image {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/* line 30, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
.tile--no-image .tile__title {
  margin-top: auto;
  margin-bottom: auto;
  -webkit-align-self: center;
  align-self: center;
  -webkit-align-content: center;
  align-content: center; }

/* line 86, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
.tile--no-image .tile__title {
  font-size: 20px; }

/* line 90, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
.tile__image {
  max-width: 100%; }

/* line 94, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
.tile__label {
  position: absolute;
  display: inline-block;
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  padding: 6px 8px 0px 6px;
  font-size: 14px;
  text-transform: uppercase; }

/* line 104, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
.tile__date {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #777;
  text-align: right;
  width: 100%; }
  @media screen and (max-width: 1400px) and (min-width: 1001px) {
    .tile--large .tile__date {
      position: absolute;
      bottom: 0; } }
  /* line 119, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
  .tile--small .tile__date {
    position: absolute;
    bottom: 0; }

/* line 125, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
.tile__date::before {
  background: url(/engels/time.svg) no-repeat;
  content: " ";
  display: inline-block;
  background-size: 12px;
  height: 11px;
  width: 15px;
  color: #777; }

/* line 135, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
.recommended {
  font-family: Metric; }
  /* line 138, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
  .recommended ul, .recommended li {
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 144, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
  .recommended a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    display: block; }
    /* line 151, /Users/mandrews/sandboxes/next-engels/src/scss/tiles */
    .recommended a:hover {
      text-decoration: underline; }

/* line 1, /Users/mandrews/sandboxes/next-engels/src/scss/uber-nav */
.uber-nav {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: Metric; }
  /* line 8, /Users/mandrews/sandboxes/next-engels/src/scss/uber-nav */
  .uber-nav ul, .uber-nav li {
    list-style: none; }

/* line 13, /Users/mandrews/sandboxes/next-engels/src/scss/uber-nav */
.uber-nav__title {
  padding: 10px 0 10px 0;
  font-weight: bold; }

/* line 18, /Users/mandrews/sandboxes/next-engels/src/scss/uber-nav */
.uber-nav__children {
  padding: 0;
  margin: 0; }

/* line 23, /Users/mandrews/sandboxes/next-engels/src/scss/uber-nav */
.uber-nav__child {
  font-weight: normal; }

/* line 27, /Users/mandrews/sandboxes/next-engels/src/scss/uber-nav */
.uber-nav a {
  color: #FFF;
  text-decoration: none;
  display: block;
  height: 28px; }

/* line 16, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
h1 {
  text-align: center;
  padding: 30px; }
  /* line 20, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
  h1 img {
    max-width: 600px;
    width: 100%; }

/* line 26, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
h2 {
  font-family: metric;
  padding: 20px;
  text-align: center; }
  /* line 31, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
  h2:first-letter {
    color: orange; }

/* line 36, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
.marketing-card {
  padding: 10px;
  clear: both;
  min-height: 100vh;
  background-size: 100%; }

/* line 43, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
.marketing-card > * {
  max-width: 1170px;
  margin: 0 auto 0 auto; }

/* line 48, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
.themes__card {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: #444;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: left;
  font-family: Metric;
  height: 120px;
  text-decoration: none; }
  /* line 62, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
  .themes__card:hover {
    text-decoration: underline; }

/* line 67, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
.analysis__card {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: #444;
  text-align: left;
  font-family: Metric;
  min-height: 230px;
  text-decoration: none;
  font-size: 1em; }

/* line 80, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
.analysis__card__title {
  text-transform: uppercase;
  font-size: 1.5em; }
  /* line 84, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
  .analysis__card:hover .analysis__card__title {
    text-decoration: underline; }

/* line 89, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
.marketing-card--themes {
  background: url(/engels/militants.jpg) fixed no-repeat; }
  /* line 90, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
  .marketing-card--themes h2 {
    color: #FFFFFF; }

/* line 99, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
.marketing-card--analysis {
  background: url(/engels/referendum.jpg) fixed no-repeat; }
  /* line 100, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
  .marketing-card--analysis h2 {
    color: #FFFFFF; }

@media screen and (min-width: 900px) {
  /* line 107, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
  .comment {
    display: flex;
    flex-direction: row;
    align-items: center; }
    /* line 112, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
    .comment > * {
      flex-grow: 1;
      flex-shrink: 0;
      width: 33%; } }

/* line 120, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
.comment__quote {
  font-family: FinancierDisplay;
  font-size: 50px;
  text-align: center;
  font-style: italic; }

/* line 127, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
.comment__image {
  text-align: center; }

/* line 131, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
.comment__text {
  font-family: Metric;
  font-size: 20px;
  line-height: 24px; }

/* line 139, /Users/mandrews/sandboxes/next-engels/src/scss/styles.scss */
.splash {
  display: none; }

