<html>
    <head>
        <link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-fonts@^1.4.1,o-grid@^2.1.5"/>
        <link rel="stylesheet" href="/engels/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Financial Times</title>
    </head>
    <h1><img src="http://image.webservices.ft.com/v1/images/raw/fticon:brand-ft-masthead?source=docs" /></h1>
    <div class="advert">
	    <div class="advert__image"><img src="/engels/advert.jpg" /></div>
	    <div class="advert__text">advertisement</div>
    </div>
    <div class="home">
	<form class="search" action="/search">
		<input type="search" name="q" autocomplete="off"  placeholder="Type Here to Search"/>
	</form>
    </div>
    <div class="container">
	<ul>
	{% for article in articles %}
		<li data-o-grid-colspan="{% if loop.first %}12 M12 L6 XL6{% else %}6 M3 L3 XL3{% endif %}">
		<a class="tile{% if (loop.first) %} tile--large{% else %} tile--small{% endif %}" href="/{{ article.id }}">
				<div class="tile__label">Top Story</div>
				{% if (article.largestImage) %}
				<img class="tile__image" src="{{ article.largestImage.url|resize(600, 338) }}" />
				{% endif %}
				<div class="tile__title">{{ article.raw.item.title.title }}</div>
				<time data-o-component="o-date" class="o-date tile__date" datetime="{{ article.raw.item.lifecycle.lastPublishDateTime }}">{{ article.lastUpdated|date('l, j F, Y') }}</time>
			</a>
		</li>
	{% endfor %}
	</ul>
    </div>
    <div>
    <script src="//build.origami.ft.com/bundles/js?modules=o-date@^1.0.0"></script>
        <script src="/engels/bundle.js"></script>
</html>
