<html>
    <head>
        <link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-fonts@^1.4.1,o-grid@^2.1.5"/>
        <link rel="stylesheet" href="/engels/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Financial Times</title>
    </head>
    <h1><img src="http://image.webservices.ft.com/v1/images/raw/fticon:brand-ft-masthead?source=docs" /></h1>
    <div class="home">
	<form class="search" action="/search">
		<input type="search" name="q" autocomplete="off"  placeholder="Type Here to Search"/>
	</form>
    </div>
    <div class="container">
	    <div class="marketing-card marketing-card--news">
		<h2>1. Distilled News</h2>
		<ul>
		{% for article in articles %}
			<li data-o-grid-colspan="{% if loop.first %}12 M12 L6 XL6{% else %}6 M3 L3 XL3{% endif %}">
			<a class="tile{% if (loop.first) %} tile--large{% else %} tile--small{% endif %}" href="/{{ article.id }}">
					<div class="tile__label">Top Story</div>
					{% if (article.largestImage) %}
					<img class="tile__image" src="{{ article.largestImage.url|resize(600, 338) }}" />
					{% endif %}
					<div class="tile__title">{{ article.raw.item.title.title }}</div>
					<time data-o-component="o-date" class="o-date tile__date" datetime="{{ article.raw.item.lifecycle.lastPublishDateTime }}">{{ article.lastUpdated|date('l, j F, Y') }}</time>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="marketing-card marketing-card--analysis">
		<h2>2. Informed analysis</h2>
	</div>
	<div class="marketing-card marketing-card--comment">
		<h2>3. Comment</h2>
		<div class='comment'>
			<div class='comment__quote'>&ldquo;The firm was a complete mess. I had to deal with that&rdquo;</div>
			<div class='comment__image'><img src="/engels/comment.jpg "/></div>
			<div class='comment__text'>Lagarde and I are here because she recently celebrated an anniversary: just over three years ago she took over as managing director of the International Monetary Fund, the first woman to run the mighty $760bn organisation that is charged with promoting global financial and monetary stability. She arrived, however, amid great instability. The IMF’s former managing director, Dominique Strauss-Kahn, had just resigned after becoming entangled in a sordid sex scandal in a New York hotel. “It was a very bizarre time,” Lagarde drolly observes, stressing her words. The world outside the IMF was also experiencing its own, financial, crisis.
			</div>
		</div>
	</div>
	<div class="marketing-card marketing-card--themes">
		<h2>4. Significant Themes</h2>
          <ul class="themes">
            {% for theme in themes %}
              <li class="themes__card">

                {{ theme }}

              </li>
            {% endfor %}
          </ul>
	</div>
    </div>
    <div>
    <script src="//build.origami.ft.com/bundles/js?modules=o-date@^1.0.0"></script>
        <script src="/engels/bundle.js"></script>
</html>
