{% extends "components/bower/next-wrapper/templates/layout.html" %}

{% block body %}
	{% if flags.ads.isSwitchedOn %}
	<aside class="display-ad display-ad--banner display-ad--slot1 fixedsticky" data-display-ad="slot1">
		<div class="dummy-ad dummy-ad--banner">Slot 1</div> 
	</aside>
	{% endif %}{# ads #}
    <div class="o-grid-row">
        <div class="stream__container" data-o-grid-colspan="S12 M12 L12 XL12">
            
            {% for segment in segments %}
                {% if segment.type === 'tiled-article-stream' %}
                    {% include "components/tiled-article-stream.html" with {stream: segment} %}
                {% elseif segment.type === 'curated-topics' %}
                    {% include "components/curated-topics.html" %}
                {% endif %}
            {% endfor %}
                   
        </div>
    </div>
    {% if flags.ads.isSwitchedOn %}
	<aside class="display-ad display-ad--banner display-ad--slot2 fixedsticky" data-display-ad="slot2">
		<div class="dummy-ad dummy-ad--banner">Slot 2</div> 
	</aside>
	{% endif %}{# ads #}

{% endblock %}
