.search{

  $border-radius: 0.5em;

  display:block;
  width:100%;

  input[type="search"]{
    display:block;
    width:100%;
    font-size:2em;
    padding:0.5em 1em;
    border:1px solid #666;
    border-radius:$border-radius;
    color:#333;
    background-color:#FEFEFE;
  }

  &.suggesting{
    border-radius:$border-radius $border-radius 0 0;
  }

  .suggestions{
    margin:0;
    padding:0;
    background-color: #666;
  }
}

