<div class="stream__row" data-track-zone="top-stories-stream">
    <div data-o-grid-colspan="S12 M12 L12 XL12">
        <h1 class="stream-list__title">
            <span class="stream-list__title-name js-context">
                {{ topics.title }}
            </span>
        </h1>
    </div>
    {% for topic in topics.items %}   

        <div class="topic__column" data-column="{{colIndex}}" data-track-pos="{{colIndex}}">
            <div class="topic__wrapper">

                <div class="article-card article-card--news article-card--lead article-card--tile topic-card">

                    <div class="article-card__content">
                        <a data-track-comp-name="theme-tag" class="article-card__tag article-card__tag--theme" href="/search?q={{ topic.primaryTheme.taxonomy }}:{{ topic.primaryTheme.name }}">{{ topic.primaryTheme.name }}</a>

                        <h2 class="article-card__headline topic-card__headline" data-track-comp-name="headline">
                            <a href="/search?q={{ encodeURIComponent(topic.title) }}" class="article-card__link">
                                {{ topic.title }}
                            </a>
                        </h2>
                        {% for article in topic.articles %}
                            <h3 class="topic__article-link">
                                <a href="/{{ article.id }}">
                                    {{ article.headline }}
                                </a>
                            </h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
            
</div>