<div class="user-prefs__menu">
    <a href="/users/{{ user.id }}/following/new">Following</a> |
    <a href="/users/{{ user.id }}/recommended">Recommended</a> |
    <a href="/users/{{ user.id }}/forlaters">Saved for later</a>
    <p class="user-prefs__groups"></p>
</div>

{% for stream in following %}
<div>

    <h2 class="stream-list__title">
        <span class="js-context">
            <a href="/search?q={{stream.id}}">{{ stream.title }}</a>
        </span>
        <button class="favourite js-favourite" data-toggle-text="Unfollow this section" data-stream-id="{{stream.id}}">Follow this section</button>

    </h2>
    <div class="js-stream-container" data-stream-id="{{stream.id}}">Loading articles...</div>
</div>
{% endfor %}

{% if !following.length %} 
You are not currently following any topics.
{% endif %}

<div class="groups-js"></div>