.search{

  input[type="search"]{
    display:block;
    width:100%;
    font-size:2em;
    padding:0.5em 1em;
    border:1px solid #666;
    border-radius:0.25em;
    color:#333;
    background-color:#E1E1E1;
  }
}

