* {
	box-sizing: border-box;
}
ul, li {
	margin: 0;
	padding: 0;
}
.tile {
	background: #EEEEEE;
	font-family: Metric, Arial, sans-serif;
	display: block;
	text-decoration: none;
	color: #000000;
	margin-bottom: 20px;
}

.tile__title {
	font-size: 20px;
	padding: 10px;

	a:hover & {
		text-decoration: underline;	
	}
}

.tile__image {
	max-width: 100%;
}
