ul, li {
	margin: 0;
	padding: 0;
}
.tile {
	background: #EEEEEE;
	font-family: Metric, Arial, sans-serif;
	display: block;
	text-decoration: none;
	color: #000000;
	margin-bottom: 20px;
	position: relative;
}

.tile--small {
	height: 250px;
}

@media screen and (min-width: 1001px) {
	.tile--large {
		height: 520px;
	}
}

.tile__title {
	font-weight: bold;
	font-size: 20px;
	padding: 10px 10px 0 10px;

	.tile--small & {
		position: absolute;
		bottom: 35px;
	}

	.tile--large & {
		font-size: 40px;
	}

	a:hover & {
		text-decoration: underline;	
	}
}

.tile__image {
	max-width: 100%;
}

.tile__label {
	position: absolute;
	display: inline-block;
	background: rgba(0,0,0,0.4);
	color: #FFF;
	padding: 8px 8px 0px 8px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

.tile__date {
	display: block;
	padding: 10px;

	.tile--large & {
		@media screen and (max-width: 1400px) and (min-width: 1001px) {
			position: absolute;
			bottom: 0;
		}
	}

	.tile--small & {
		position: absolute;
		bottom: 0;
	}
}

.tile__date::before {
	background: url(/engels/time.svg) no-repeat;
	content: " ";
	display: inline-block;
	background-size: 12px;
	height: 11px;
	width: 15px;
	color: #777;
}
