.search {
  display: block;
  width: 100%; }
  .search input[type="search"] {
    display: block;
    width: 100%;
    font-size: 2em;
    padding: 0.5em 1em;
    border: 1px solid #666;
    border-radius: 25%;
    color: #333;
    background-color: #EEE; }
  .search.suggesting {
    border-radius: 25% 25% 0 0; }
  .search .suggestions {
    margin: 0;
    padding: 0; }

