$font-family-metric: Metric, Arial, sans-serif;
$next-black: black;
$ft-pink: rgb(255, 241, 224);

$breakpoint-small : 450px;
$breakpoint-mid : 800px;
$breakpoint-large : 1100px;

@mixin respond($min-width){
  @media screen and (min-width : $min-width){
    @content;
  }
}