* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

@import "variables";
@import "../components/search/search";
@import "tiles";

h1 {
	text-align: center;
	padding: 30px;

	img {
		max-width: 600px;
		width: 100%;
	}
}

h2 {
	font-family: metric;
	padding: 20px;
	text-align: center;

	&:first-letter {
		color: orange;
	}
}

.marketing-card {
	padding: 10px;
	clear: both;
	min-height: 100vh;
	background-size: 100%;
}

.marketing-card > * {
	max-width: 1170px;
	margin: 0 auto 0 auto;
}

.themes__card {
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: white;
	width:280px;
	height:120px;
	font-size: 1.5em;
	text-align: left;
	font-family: Metric;
}

.marketing-card--themes {
	h2 {
		color: #FFFFFF;
	}
	background: url(/engels/militants.jpg) fixed no-repeat;
}

.marketing-card--comment {
}

.marketing-card--analysis {
	h2 {
		color: #FFFFFF;
	}
	background: url(/engels/referendum.jpg) fixed no-repeat;
}

@media screen and (min-width: 900px) {
	.comment {
		display: flex;
		flex-direction: row;
		align-items: center;

		> * {
			flex-grow: 1;
			flex-shrink: 0;
			width: 33%;
		}
	}
}

.comment__quote {
	font-family: FinancierDisplay;
	font-size: 50px;
	text-align: center;
	font-style: italic;
}

.comment__text {
	font-family: Metric;
	font-size: 20px;
	line-height: 24px;
}
